* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
body .span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;


}

/*container1-roma*/

#container1{
  position: relative;
  width: 1000px;
  height: 1000px;
  background-image: url("../img/roma.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
